body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #008ee0;
  font-size: 30px;
  margin: 0 auto;
  max-width: 1200px; /* Limita el ancho máximo */
  width: 100%;
}

/* Botón Data */
#btn-data {
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#btn-data ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Hace que los elementos se ajusten en varias filas */
  gap: 20px;
  justify-content: center;
}

#btn-data li {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px; /* Tamaño fijo, pero responsive con max-width */
  max-width: 100%;
}

#btn-data li a {
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
}

#btn-data p {
  text-align: center;
}

#btn-data li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.button-text {
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  background-color: #fff;
}

#btn-data li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#btn-data li:hover .button-text {
  color: #007bff;
}

/* Logo del equipo */
.logo-equipo img {
  width: 150px;
  transition: transform 0.3s ease;
}

.logo-equipo img:hover {
  transform: scale(1.1);
}

/* Navegación */
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  max-width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #2ba4f0;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: black;
}

/* Sección del slider */
#slider-section {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tarjetas de películas */
.film-card {
  border-radius: 8px;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(245, 245, 220, 0);
  text-align: center;
  max-width: 100%;
}

.film-image {
  width: 80%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}

/* Responsividad */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  #btn-data ul {
    flex-direction: column;
    align-items: center;
  }

  .film-card {
    width: 100%;
  }
}
