body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #008ee0;
  font-size: 30px;
  margin: 0 auto;
  max-width: 100%; /* Se ajusta a la pantalla */
}

.logo-equipo img {
  width: 150px;
  transition: transform 0.3s ease;
}

.logo-equipo img:hover {
  transform: scale(1.1);
}

#btn-regresar {
  background-color: #63c6ff;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
  display: inline-block;
  cursor: pointer;
}

#Regresar {
  display: inline-block;
}

/* Evita el color morado del enlace visitado */
#btn-regresar:visited {
  color: #ffffff;
}

#btn-regresar:hover {
  background-color: #4fb1e6;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: center; /* Centrado para pantallas pequeñas */
  flex-wrap: wrap; /* Permite que los elementos se ajusten */
  max-width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #2ba4f0;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: black;
}

#film-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 100%; /* Adaptable al ancho */
}

.film-card {
  border: 1px solid black;
  border-radius: 8px;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  background-color: beige;
  max-width: 100%; /* Ajuste automático para pantallas pequeñas */
}

.film-image {
  flex-wrap: wrap;
  width: 100%; /* Se adapta automáticamente */
  height: auto;
}

#searchInput {
  width: 100%; /* Se adapta al ancho disponible */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666;
}

#searchInput {
  padding: 10px 10px 10px 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Ancho adaptable */
}

#searchInput:focus {
  outline: none;
  border-color: #007bff;
}

#film-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
}
